flows_fachrizaldanvarick.json
[
    {
        "id": "e1a3a567d97235d4",
        "type": "tab",
        "label": "MQTT to PostgreSQL JSON",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "b68c10793faec963",
        "type": "aedes broker",
        "z": "e1a3a567d97235d4",
        "name": "",
        "mqtt_port": "1883",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 810,
        "y": 40,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "daa1d434a1983810",
        "type": "postgresql",
        "z": "e1a3a567d97235d4",
        "name": "Insert Temp & Hum & JSON",
        "query": "INSERT INTO mqtt_dht(temperature,humidity,data) \nVALUES('{{msg.payload.Temperature}}',\n'{{msg.payload.Humidity}}', \n'{\"Temperature\":{{msg.payload.Temperature}},\"Humidity\":{{msg.payload.Humidity}}}') \nRETURNING *;",
        "postgreSQLConfig": "bbde1055c4be3b1d",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 540,
        "y": 420,
        "wires": [
            [
                "0b34734d26fc98c3"
            ]
        ]
    },
    {
        "id": "f7b984e7993120e7",
        "type": "function",
        "z": "e1a3a567d97235d4",
        "name": "Parsing Temp",
        "func": "const obj = msg.payload\nmsg.payload = obj.Temperature\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 180,
        "wires": [
            [
                "4b3fa07bfe18c836",
                "676f2efecda9da77",
                "4ea282c81df379e4"
            ]
        ]
    },
    {
        "id": "1d50866927b9c26d",
        "type": "function",
        "z": "e1a3a567d97235d4",
        "name": "Parsing Hum",
        "func": "const obj = msg.payload\nmsg.payload = obj.Humidity\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 340,
        "wires": [
            [
                "5e77f5a207da4943",
                "a11669803d644961",
                "dc13821a8dd52d4e"
            ]
        ]
    },
    {
        "id": "4b3fa07bfe18c836",
        "type": "ui_gauge",
        "z": "e1a3a567d97235d4",
        "name": "",
        "group": "7cf508baf263934c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "25",
        "max": "26",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "676f2efecda9da77",
        "type": "ui_chart",
        "z": "e1a3a567d97235d4",
        "name": "",
        "group": "7cf508baf263934c",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f94fb2635aa571eb",
        "type": "mqtt in",
        "z": "e1a3a567d97235d4",
        "name": "Subscribe Topic",
        "topic": "/fachrizal_varick/json",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2d0834c37b5363b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 260,
        "wires": [
            [
                "f7b984e7993120e7",
                "1d50866927b9c26d",
                "ecd008cf8334da0c",
                "daa1d434a1983810"
            ]
        ]
    },
    {
        "id": "5e77f5a207da4943",
        "type": "ui_chart",
        "z": "e1a3a567d97235d4",
        "name": "",
        "group": "4800fbc9dbd4c7e3",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a11669803d644961",
        "type": "ui_gauge",
        "z": "e1a3a567d97235d4",
        "name": "",
        "group": "4800fbc9dbd4c7e3",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": "61",
        "max": "62",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "92164e7c75bb3b13",
        "type": "ui_text",
        "z": "e1a3a567d97235d4",
        "group": "bcadb6044abbb54f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Nama dan NIM",
        "label": "",
        "format": " Varick Zahir Sarjiman (22/496418/TK/54384) Muhammad Fachrizal Giffari (22/504570/TK/55192)",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 40,
        "wires": []
    },
    {
        "id": "0b34734d26fc98c3",
        "type": "debug",
        "z": "e1a3a567d97235d4",
        "name": "Debug PostgreSQL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 420,
        "wires": []
    },
    {
        "id": "4ea282c81df379e4",
        "type": "debug",
        "z": "e1a3a567d97235d4",
        "name": "Debug Temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "dc13821a8dd52d4e",
        "type": "debug",
        "z": "e1a3a567d97235d4",
        "name": "Debug Humidity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 340,
        "wires": []
    },
    {
        "id": "ecd008cf8334da0c",
        "type": "debug",
        "z": "e1a3a567d97235d4",
        "name": "Debug MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 260,
        "wires": []
    },
    {
        "id": "c00abb0540e30bbb",
        "type": "ui_spacer",
        "z": "e1a3a567d97235d4",
        "name": "spacer",
        "group": "ad77b3dde7b4855f",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "9103967b20dad163",
        "type": "ui_spacer",
        "z": "e1a3a567d97235d4",
        "name": "spacer",
        "group": "ad77b3dde7b4855f",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "0c48d4d70966e3de",
        "type": "ui_spacer",
        "z": "e1a3a567d97235d4",
        "name": "spacer",
        "group": "ad77b3dde7b4855f",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "241c7aa27e9b24da",
        "type": "ui_spacer",
        "z": "e1a3a567d97235d4",
        "name": "spacer",
        "group": "ad77b3dde7b4855f",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "68f76408b1e20bef",
        "type": "ui_spacer",
        "z": "e1a3a567d97235d4",
        "name": "spacer",
        "group": "ad77b3dde7b4855f",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "fa4fa3ee285ffa18",
        "type": "ui_spacer",
        "z": "e1a3a567d97235d4",
        "name": "spacer",
        "group": "ad77b3dde7b4855f",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "5b1715425d8262e0",
        "type": "ui_spacer",
        "z": "e1a3a567d97235d4",
        "name": "spacer",
        "group": "ad77b3dde7b4855f",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "c441fcd645de5aed",
        "type": "ui_spacer",
        "z": "e1a3a567d97235d4",
        "name": "spacer",
        "group": "ad77b3dde7b4855f",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "bbde1055c4be3b1d",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "sbm",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "projeksbm",
        "passwordFieldType": "str"
    },
    {
        "id": "7cf508baf263934c",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "188932b96b2a699b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2d0834c37b5363b3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4800fbc9dbd4c7e3",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "188932b96b2a699b",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bcadb6044abbb54f",
        "type": "ui_group",
        "name": "Nama dan NIM",
        "tab": "188932b96b2a699b",
        "order": 1,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "188932b96b2a699b",
        "type": "ui_tab",
        "name": "DHT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]